#Logo {
    color: var(--color-text);
    background-color: var(--color-background-header);
    font-family: var(--font-family-header);
    font-size: var(--font-size-header);
    font-weight: var(--font-weight-header);
    display: flex;
    align-items: baseline;
    align-content: center;
    justify-content: space-between;
    padding-left: var(--padding-header);
    text-align: center;
    padding-right: var(--padding-header);
  }

header a[href]{
  color: currentColor;
  text-decoration: none;
}

h1 {
  color: var(--color-background-header-text);
  font-family: var(--font-family-header);
  font-style: italic;
  font-size: var(--font-size-subheader);
  font-weight: var(--font-weight-subheader);
}

body {
    color: var(--color-text);
    font-family: var(--font-family-text);
    background-color: var(--color-background-page);
    font-weight: var(--font-weight-text);
}

a[href]{
  color: var(--color-link);
  text-decoration: none;
}

svg.icon {
  display: inline;
  height: var(--icon-size-medium);
  width: var(--icon-size-medium);
  vertical-align: middle;
  fill: var(--color-text);
  color: var(--color-text);
}

#topbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-small);
  background-color: var(--color-background-card);
  color: var(--color-background-header-text);
  font-family: var(--font-family-text);
  font-size: var(--font-size-subheader);
  font-weight: var(--font-weight-subheader); 
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  border-radius: 34px;
  overflow: hidden; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  box-sizing: border-box;
}


/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-background-page);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider .icon {
  width: 16px;
  height: 16px;
  fill: var(--color-text); /* optional - adjusts icon color */
  z-index: 1;
  pointer-events: none;
}

.slider:before {
  content: "";
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
  z-index: 2;
}

input:checked + .slider {
  background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px white;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.buttonIcon{
  display: inline;
  height: var(--icon-size-small);
  width: var(--icon-size-small);
  vertical-align: middle;
  fill: var(--color-text);
  color: var(--color-text);
}